certifi==2018.10.15
chardet==3.0.4
idna==2.7
inflect==2.1.0
irc==17.0
jaraco.classes==1.5
jaraco.collections==1.6.0
jaraco.functools==1.20
jaraco.itertools==3.0.0
jaraco.logging==1.5.2
jaraco.stream==1.2
jaraco.text==1.10.1
more-itertools==4.3.0
pynput==1.4
pytz==2018.7
requests==2.20.1
six==1.11.0
tempora==1.14
urllib3==1.26.5
